

        <div id="cover"></div>
        	<div class="preloader">
        		<img src="images/preloader_3.gif">
        		<p id='loader-msg'></p>
        	</div>
	
		<script src="javascripts/build/vendor.js"></script>
        <script src="javascripts/build/app.js"></script>
    </body>
</html>