
<% include partials/header %>

    
    <div class='container'>

	    <div id="top-nav"></div>
		<div id="primary-view-content" class='movie-list'></div>

    </div>

<% include templates %>
<% include partials/footer %>