@import "../variables";
@import "../mixins";

//rest
ul{
	margin: 0;
}


body{
	font-family: 'Open Sans', sans-serif;
	background: #2F3238;
	color: $color-headline;
	padding-top: 50px;
	@include bp-phone{
		padding-top: 65px;	
	}
}

// Layout
.container{
	max-width: 1020px;
	margin: 0 auto;
	overflow: hidden;
}


.container--narrow{
	max-width: 800px;
	margin: 0 auto;
}